In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [126]:
# import the datasets provided
df_train = pd.read_csv('train.csv')
X_train = df_train.iloc[:, :-1]
y_train = df_train.iloc[:, -1]    # target column

# df_test = pd.read_csv('test.csv')
# X_test = df_test.iloc[:, :]

In [127]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Splitting the dataset into test and train
X_train, X_test, y_train, y_test = train_test_split(X_train, y, test_size=0.2)

In [128]:
X_train.head()
# X_test.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
13184,13184,0,1,1,T,Y,Green,Polygon,Axolotl,Russia,...,2e2f8320b,f5bbd24af,1,Novice,Cold,g,K,QM,1,2
173199,173199,1,0,1,F,N,Red,Trapezoid,Cat,Russia,...,582c2acac,001062bf6,1,Expert,Freezing,l,U,Bd,4,1
129413,129413,0,0,0,F,Y,Green,Trapezoid,Axolotl,Costa Rica,...,9499c0bf0,db670d1cb,1,Contributor,Boiling Hot,f,Q,Qb,5,4
209125,209125,0,1,1,F,N,Green,Square,Lion,Costa Rica,...,17d59b19a,da5ba10bc,2,Grandmaster,Freezing,h,J,nh,2,3
114273,114273,0,0,1,F,Y,Red,Circle,Lion,Russia,...,a7d83e43a,45dcfa20c,2,Grandmaster,Lava Hot,g,D,dN,2,2

In [129]:
# drop the non-sensical columns
drop_cols = [f'nom_{x}' for x in range(5, 10)] + ['id']
X_train = X_train.drop(drop_cols, axis=1)
X_test = X_test.drop(drop_cols, axis=1)

In [130]:
# properly map according to ranks
X_train.ord_1 = X_train.ord_1.map({
    'Novice': 0,
    'Contributor': 1,
    'Master': 2,
    'Expert': 3,
    'Grandmaster' : 4
})

X_train.ord_2 = X_train.ord_2.map({
    'Freezing': 0,
    'Cold': 1,
    'Warm': 2,
    'Hot': 3,
    'Boiling Hot': 4,
    'Lava Hot': 5
})

X_test.ord_1 = X_test.ord_1.map({
    'Novice': 0,
    'Contributor': 1,
    'Master': 2,
    'Expert': 3,
    'Grandmaster' : 4
})

X_test.ord_2 = X_test.ord_2.map({
    'Freezing': 0,
    'Cold': 1,
    'Warm': 2,
    'Hot': 3,
    'Boiling Hot': 4,
    'Lava Hot': 5
})

In [131]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# numerically label string data
le = LabelEncoder()
for col in X_train.columns:
    if X_train[col].dtype == 'object':
        X_train[col] = le.fit_transform(X_train[col])
        X_test[col] = le.fit_transform(X_test[col])

# create dummy variables, preventing ordering in nominal features
ohe = OneHotEncoder(categorical_features = [5, 6, 7, 8, 9])
X_train = ohe.fit_transform(X_train).toarray()
X_test = ohe.fit_transform(X_test).toarray()

/opt/miniconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/opt/miniconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [84]:
# print(X_train)
X_train.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,2,4,1,h,D,kr,2,2
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,1,4,3,a,A,bF,7,8
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,1,3,5,h,R,Jc,7,2
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,1,4,4,i,D,kW,2,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,1,4,0,a,R,qP,7,8

In [132]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr = LogisticRegression()
lr.fit(X_train, y_train)

/opt/miniconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [133]:
y_pred = lr.predict(X_test)
# ids = [x for x in range(30000, 50000)]

In [134]:
print("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.7416333333333334

In [123]:
# result = pd.DataFrame({'id': ids, 'target': y_pred})
# df.to_csv(file_name)

ValueError: arrays must all be same length