In [54]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("train.csv")

In [39]:
df = df.drop(columns = ['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9'])

In [5]:
df.ord_1.value_counts()

Novice         126583
Grandmaster     77428
Contributor     42871
Master          28053
Expert          25065
Name: ord_1, dtype: int64

In [6]:
df.ord_1.map({
    'Novice': 0,
    'GrandMaster': 1,
    'Contributor': 2,
    'Master': 3,
    'Expert': 4
})

0         NaN
1         NaN
2         4.0
3         NaN
4         NaN
         ...
299995    2.0
299996    0.0
299997    0.0
299998    3.0
299999    2.0
Name: ord_1, Length: 300000, dtype: float64

In [7]:
df.ord_2.value_counts()

Freezing       99816
Lava Hot       63908
Boiling Hot    60627
Cold           33768
Hot            22227
Warm           19654
Name: ord_2, dtype: int64

In [8]:
df.ord_2.map({
    'Freezing': 0,
    'Lava Hot': 1,
    'Boiling Hot': 2,
    'Cold': 3,
    'Hot': 4, 
    'Warm': 5
})

0         3
1         4
2         1
3         2
4         0
         ..
299995    0
299996    0
299997    2
299998    2
299999    0
Name: ord_2, Length: 300000, dtype: int64

In [47]:
X1 = df.drop(['target'],axis = 1)
X = X1.select_dtypes(include=[object])
Y = df['target']

In [42]:
le = LabelEncoder()
X_2 = X.apply(le.fit_transform)
X_2

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,ord_1,ord_2,ord_3,ord_4,ord_5
0,1,1,1,5,5,3,0,2,1,7,3,136
1,1,1,1,4,3,5,2,2,3,0,0,93
2,0,1,0,4,4,5,3,1,4,7,17,31
3,0,1,2,4,5,0,1,2,0,8,3,134
4,0,0,2,4,4,0,1,2,2,0,17,158
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,1,0,2,4,5,4,1,0,2,10,10,108
299996,0,1,1,4,4,5,2,4,2,7,22,40
299997,0,1,0,3,0,5,1,4,0,14,0,7
299998,0,1,1,2,0,2,2,3,0,7,22,174
299999,0,1,0,4,2,5,0,0,2,8,17,172

In [55]:
ohe = OneHotEncoder()
ohe.fit(X_2)
onehotlabels = ohe.transform(X_2)

C:\Users\Rohit\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [46]:
type(onehotlabels)

numpy.ndarray

In [59]:
lr = LogisticRegression()

In [58]:
x_train,x_test,y_train,y_test = train_test_split(onehotlabels, Y, test_size=0.2)

In [60]:
lr.fit(x_train, y_train)

C:\Users\Rohit\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [61]:
y_pred = lr.predict(x_test)

In [62]:
print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.7335166666666667